/*------------------------------------*\
LISTS

Provides mixin and style to remove or reset the lists style

.unstyled or unstyled()- removes bullets or numbers
\*------------------------------------*/

unstyled()
    list-style none

.unstyled
    unstyled()