* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: inherit;
}
img {
  vertical-align: bottom;
}
.half-gap {
  margin: 5px;
}
.half-pad {
  padding: 5px;
}
.half-gap-top {
  margin-top: 5px;
}
.half-pad-top {
  padding-top: 5px;
}
.half-gap-right {
  margin-right: 5px;
}
.half-pad-right {
  padding-right: 5px;
}
.half-gap-bottom {
  margin-bottom: 5px;
}
.half-pad-bottom {
  padding-bottom: 5px;
}
.half-gap-left {
  margin-left: 5px;
}
.half-pad-left {
  padding-left: 5px;
}
.gap {
  margin: 10px;
}
.pad {
  padding: 10px;
}
.gap-top {
  margin-top: 10px;
}
.pad-top {
  padding-top: 10px;
}
.gap-right {
  margin-right: 10px;
}
.pad-right {
  padding-right: 10px;
}
.gap-bottom {
  margin-bottom: 10px;
}
.pad-bottom {
  padding-bottom: 10px;
}
.gap-left {
  margin-left: 10px;
}
.pad-left {
  padding-left: 10px;
}
.double-gap {
  margin: 20px;
}
.double-pad {
  padding: 20px;
}
.double-gap-top {
  margin-top: 20px;
}
.double-pad-top {
  padding-top: 20px;
}
.double-gap-right {
  margin-right: 20px;
}
.double-pad-right {
  padding-right: 20px;
}
.double-gap-bottom {
  margin-bottom: 20px;
}
.double-pad-bottom {
  padding-bottom: 20px;
}
.double-gap-left {
  margin-left: 20px;
}
.double-pad-left {
  padding-left: 20px;
}
.triple-gap {
  margin: 30px;
}
.triple-pad {
  padding: 30px;
}
.triple-gap-top {
  margin-top: 30px;
}
.triple-pad-top {
  padding-top: 30px;
}
.triple-gap-right {
  margin-right: 30px;
}
.triple-pad-right {
  padding-right: 30px;
}
.triple-gap-bottom {
  margin-bottom: 30px;
}
.triple-pad-bottom {
  padding-bottom: 30px;
}
.triple-gap-left {
  margin-left: 30px;
}
.triple-pad-left {
  padding-left: 30px;
}
.quad-gap {
  margin: 40px;
}
.quad-pad {
  padding: 40px;
}
.quad-gap-top {
  margin-top: 40px;
}
.quad-pad-top {
  padding-top: 40px;
}
.quad-gap-right {
  margin-right: 40px;
}
.quad-pad-right {
  padding-right: 40px;
}
.quad-gap-bottom {
  margin-bottom: 40px;
}
.quad-pad-bottom {
  padding-bottom: 40px;
}
.quad-gap-left {
  margin-left: 40px;
}
.quad-pad-left {
  padding-left: 40px;
}
.static {
  position: static;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.absolute.top {
  top: 0px;
}
.absolute.bottom {
  bottom: 0px;
}
.absolute.left {
  left: 0px;
}
.absolute.right {
  right: 0px;
}
.fixed {
  position: fixed;
}
.fixed.top {
  top: 0px;
}
.fixed.bottom {
  bottom: 0px;
}
.fixed.left {
  left: 0px;
}
.fixed.right {
  right: 0px;
}
.rotate-90 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.rotate-90-ctr {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.rotate-180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.rotate-180-ctr {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.rotate-270 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
.rotate-270-ctr {
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.pull-none {
  float: none;
}
.unstyled {
  list-style: none;
}
.spin {
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}
.shake {
  -webkit-animation: shake 100ms infinite;
          animation: shake 100ms infinite;
}
.pulse {
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
}
.hop {
  -webkit-animation: hop 1s infinite;
          animation: hop 1s infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  2% {
    -webkit-transform: translate(-0.5px, 1.5px) rotate(0.5deg);
            transform: translate(-0.5px, 1.5px) rotate(0.5deg);
  }
  4% {
    -webkit-transform: translate(-0.5px, 1.5px) rotate(-0.5deg);
            transform: translate(-0.5px, 1.5px) rotate(-0.5deg);
  }
  6% {
    -webkit-transform: translate(-2.5px, -1.5px) rotate(0.5deg);
            transform: translate(-2.5px, -1.5px) rotate(0.5deg);
  }
  8% {
    -webkit-transform: translate(-2.5px, -2.5px) rotate(-1.5deg);
            transform: translate(-2.5px, -2.5px) rotate(-1.5deg);
  }
  10% {
    -webkit-transform: translate(1.5px, 1.5px) rotate(-1.5deg);
            transform: translate(1.5px, 1.5px) rotate(-1.5deg);
  }
  12% {
    -webkit-transform: translate(-2.5px, -0.5px) rotate(-0.5deg);
            transform: translate(-2.5px, -0.5px) rotate(-0.5deg);
  }
  14% {
    -webkit-transform: translate(1.5px, -2.5px) rotate(-0.5deg);
            transform: translate(1.5px, -2.5px) rotate(-0.5deg);
  }
  16% {
    -webkit-transform: translate(0.5px, 1.5px) rotate(0.5deg);
            transform: translate(0.5px, 1.5px) rotate(0.5deg);
  }
  18% {
    -webkit-transform: translate(-2.5px, -0.5px) rotate(0.5deg);
            transform: translate(-2.5px, -0.5px) rotate(0.5deg);
  }
  20% {
    -webkit-transform: translate(-0.5px, -0.5px) rotate(-1.5deg);
            transform: translate(-0.5px, -0.5px) rotate(-1.5deg);
  }
  22% {
    -webkit-transform: translate(-2.5px, -1.5px) rotate(-1.5deg);
            transform: translate(-2.5px, -1.5px) rotate(-1.5deg);
  }
  24% {
    -webkit-transform: translate(-1.5px, -2.5px) rotate(-1.5deg);
            transform: translate(-1.5px, -2.5px) rotate(-1.5deg);
  }
  26% {
    -webkit-transform: translate(0.5px, -0.5px) rotate(-1.5deg);
            transform: translate(0.5px, -0.5px) rotate(-1.5deg);
  }
  28% {
    -webkit-transform: translate(-0.5px, -1.5px) rotate(-0.5deg);
            transform: translate(-0.5px, -1.5px) rotate(-0.5deg);
  }
  30% {
    -webkit-transform: translate(-2.5px, 1.5px) rotate(0.5deg);
            transform: translate(-2.5px, 1.5px) rotate(0.5deg);
  }
  32% {
    -webkit-transform: translate(-2.5px, -2.5px) rotate(-0.5deg);
            transform: translate(-2.5px, -2.5px) rotate(-0.5deg);
  }
  34% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(-1.5deg);
            transform: translate(-1.5px, 0.5px) rotate(-1.5deg);
  }
  36% {
    -webkit-transform: translate(1.5px, -1.5px) rotate(-1.5deg);
            transform: translate(1.5px, -1.5px) rotate(-1.5deg);
  }
  38% {
    -webkit-transform: translate(0.5px, -0.5px) rotate(-0.5deg);
            transform: translate(0.5px, -0.5px) rotate(-0.5deg);
  }
  40% {
    -webkit-transform: translate(-0.5px, 0.5px) rotate(0.5deg);
            transform: translate(-0.5px, 0.5px) rotate(0.5deg);
  }
  42% {
    -webkit-transform: translate(0.5px, -2.5px) rotate(-0.5deg);
            transform: translate(0.5px, -2.5px) rotate(-0.5deg);
  }
  44% {
    -webkit-transform: translate(0.5px, -2.5px) rotate(-0.5deg);
            transform: translate(0.5px, -2.5px) rotate(-0.5deg);
  }
  46% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(-1.5deg);
            transform: translate(-1.5px, 1.5px) rotate(-1.5deg);
  }
  48% {
    -webkit-transform: translate(0.5px, -2.5px) rotate(-0.5deg);
            transform: translate(0.5px, -2.5px) rotate(-0.5deg);
  }
  50% {
    -webkit-transform: translate(-1.5px, -0.5px) rotate(-1.5deg);
            transform: translate(-1.5px, -0.5px) rotate(-1.5deg);
  }
  52% {
    -webkit-transform: translate(-2.5px, -0.5px) rotate(-1.5deg);
            transform: translate(-2.5px, -0.5px) rotate(-1.5deg);
  }
  54% {
    -webkit-transform: translate(1.5px, 0.5px) rotate(-1.5deg);
            transform: translate(1.5px, 0.5px) rotate(-1.5deg);
  }
  56% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(-1.5deg);
            transform: translate(0.5px, 0.5px) rotate(-1.5deg);
  }
  58% {
    -webkit-transform: translate(0.5px, 1.5px) rotate(-0.5deg);
            transform: translate(0.5px, 1.5px) rotate(-0.5deg);
  }
  60% {
    -webkit-transform: translate(-0.5px, -2.5px) rotate(-0.5deg);
            transform: translate(-0.5px, -2.5px) rotate(-0.5deg);
  }
  62% {
    -webkit-transform: translate(-2.5px, -1.5px) rotate(-0.5deg);
            transform: translate(-2.5px, -1.5px) rotate(-0.5deg);
  }
  64% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(0.5deg);
            transform: translate(-1.5px, 0.5px) rotate(0.5deg);
  }
  66% {
    -webkit-transform: translate(0.5px, -0.5px) rotate(-1.5deg);
            transform: translate(0.5px, -0.5px) rotate(-1.5deg);
  }
  68% {
    -webkit-transform: translate(-1.5px, -0.5px) rotate(-1.5deg);
            transform: translate(-1.5px, -0.5px) rotate(-1.5deg);
  }
  70% {
    -webkit-transform: translate(-0.5px, -2.5px) rotate(-1.5deg);
            transform: translate(-0.5px, -2.5px) rotate(-1.5deg);
  }
  72% {
    -webkit-transform: translate(-2.5px, -0.5px) rotate(-1.5deg);
            transform: translate(-2.5px, -0.5px) rotate(-1.5deg);
  }
  74% {
    -webkit-transform: translate(-2.5px, 0.5px) rotate(0.5deg);
            transform: translate(-2.5px, 0.5px) rotate(0.5deg);
  }
  76% {
    -webkit-transform: translate(1.5px, -1.5px) rotate(-1.5deg);
            transform: translate(1.5px, -1.5px) rotate(-1.5deg);
  }
  78% {
    -webkit-transform: translate(1.5px, -2.5px) rotate(0.5deg);
            transform: translate(1.5px, -2.5px) rotate(0.5deg);
  }
  80% {
    -webkit-transform: translate(-2.5px, -2.5px) rotate(-0.5deg);
            transform: translate(-2.5px, -2.5px) rotate(-0.5deg);
  }
  82% {
    -webkit-transform: translate(-2.5px, -1.5px) rotate(0.5deg);
            transform: translate(-2.5px, -1.5px) rotate(0.5deg);
  }
  84% {
    -webkit-transform: translate(0.5px, -2.5px) rotate(-0.5deg);
            transform: translate(0.5px, -2.5px) rotate(-0.5deg);
  }
  86% {
    -webkit-transform: translate(-2.5px, 0.5px) rotate(-0.5deg);
            transform: translate(-2.5px, 0.5px) rotate(-0.5deg);
  }
  88% {
    -webkit-transform: translate(-2.5px, -0.5px) rotate(-0.5deg);
            transform: translate(-2.5px, -0.5px) rotate(-0.5deg);
  }
  90% {
    -webkit-transform: translate(-1.5px, -1.5px) rotate(-1.5deg);
            transform: translate(-1.5px, -1.5px) rotate(-1.5deg);
  }
  92% {
    -webkit-transform: translate(-0.5px, -1.5px) rotate(-0.5deg);
            transform: translate(-0.5px, -1.5px) rotate(-0.5deg);
  }
  94% {
    -webkit-transform: translate(0.5px, -0.5px) rotate(-0.5deg);
            transform: translate(0.5px, -0.5px) rotate(-0.5deg);
  }
  96% {
    -webkit-transform: translate(-2.5px, -2.5px) rotate(0.5deg);
            transform: translate(-2.5px, -2.5px) rotate(0.5deg);
  }
  98% {
    -webkit-transform: translate(-0.5px, 1.5px) rotate(-0.5deg);
            transform: translate(-0.5px, 1.5px) rotate(-0.5deg);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  2% {
    -webkit-transform: translate(-0.5px, 1.5px) rotate(0.5deg);
            transform: translate(-0.5px, 1.5px) rotate(0.5deg);
  }
  4% {
    -webkit-transform: translate(-0.5px, 1.5px) rotate(-0.5deg);
            transform: translate(-0.5px, 1.5px) rotate(-0.5deg);
  }
  6% {
    -webkit-transform: translate(-2.5px, -1.5px) rotate(0.5deg);
            transform: translate(-2.5px, -1.5px) rotate(0.5deg);
  }
  8% {
    -webkit-transform: translate(-2.5px, -2.5px) rotate(-1.5deg);
            transform: translate(-2.5px, -2.5px) rotate(-1.5deg);
  }
  10% {
    -webkit-transform: translate(1.5px, 1.5px) rotate(-1.5deg);
            transform: translate(1.5px, 1.5px) rotate(-1.5deg);
  }
  12% {
    -webkit-transform: translate(-2.5px, -0.5px) rotate(-0.5deg);
            transform: translate(-2.5px, -0.5px) rotate(-0.5deg);
  }
  14% {
    -webkit-transform: translate(1.5px, -2.5px) rotate(-0.5deg);
            transform: translate(1.5px, -2.5px) rotate(-0.5deg);
  }
  16% {
    -webkit-transform: translate(0.5px, 1.5px) rotate(0.5deg);
            transform: translate(0.5px, 1.5px) rotate(0.5deg);
  }
  18% {
    -webkit-transform: translate(-2.5px, -0.5px) rotate(0.5deg);
            transform: translate(-2.5px, -0.5px) rotate(0.5deg);
  }
  20% {
    -webkit-transform: translate(-0.5px, -0.5px) rotate(-1.5deg);
            transform: translate(-0.5px, -0.5px) rotate(-1.5deg);
  }
  22% {
    -webkit-transform: translate(-2.5px, -1.5px) rotate(-1.5deg);
            transform: translate(-2.5px, -1.5px) rotate(-1.5deg);
  }
  24% {
    -webkit-transform: translate(-1.5px, -2.5px) rotate(-1.5deg);
            transform: translate(-1.5px, -2.5px) rotate(-1.5deg);
  }
  26% {
    -webkit-transform: translate(0.5px, -0.5px) rotate(-1.5deg);
            transform: translate(0.5px, -0.5px) rotate(-1.5deg);
  }
  28% {
    -webkit-transform: translate(-0.5px, -1.5px) rotate(-0.5deg);
            transform: translate(-0.5px, -1.5px) rotate(-0.5deg);
  }
  30% {
    -webkit-transform: translate(-2.5px, 1.5px) rotate(0.5deg);
            transform: translate(-2.5px, 1.5px) rotate(0.5deg);
  }
  32% {
    -webkit-transform: translate(-2.5px, -2.5px) rotate(-0.5deg);
            transform: translate(-2.5px, -2.5px) rotate(-0.5deg);
  }
  34% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(-1.5deg);
            transform: translate(-1.5px, 0.5px) rotate(-1.5deg);
  }
  36% {
    -webkit-transform: translate(1.5px, -1.5px) rotate(-1.5deg);
            transform: translate(1.5px, -1.5px) rotate(-1.5deg);
  }
  38% {
    -webkit-transform: translate(0.5px, -0.5px) rotate(-0.5deg);
            transform: translate(0.5px, -0.5px) rotate(-0.5deg);
  }
  40% {
    -webkit-transform: translate(-0.5px, 0.5px) rotate(0.5deg);
            transform: translate(-0.5px, 0.5px) rotate(0.5deg);
  }
  42% {
    -webkit-transform: translate(0.5px, -2.5px) rotate(-0.5deg);
            transform: translate(0.5px, -2.5px) rotate(-0.5deg);
  }
  44% {
    -webkit-transform: translate(0.5px, -2.5px) rotate(-0.5deg);
            transform: translate(0.5px, -2.5px) rotate(-0.5deg);
  }
  46% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(-1.5deg);
            transform: translate(-1.5px, 1.5px) rotate(-1.5deg);
  }
  48% {
    -webkit-transform: translate(0.5px, -2.5px) rotate(-0.5deg);
            transform: translate(0.5px, -2.5px) rotate(-0.5deg);
  }
  50% {
    -webkit-transform: translate(-1.5px, -0.5px) rotate(-1.5deg);
            transform: translate(-1.5px, -0.5px) rotate(-1.5deg);
  }
  52% {
    -webkit-transform: translate(-2.5px, -0.5px) rotate(-1.5deg);
            transform: translate(-2.5px, -0.5px) rotate(-1.5deg);
  }
  54% {
    -webkit-transform: translate(1.5px, 0.5px) rotate(-1.5deg);
            transform: translate(1.5px, 0.5px) rotate(-1.5deg);
  }
  56% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(-1.5deg);
            transform: translate(0.5px, 0.5px) rotate(-1.5deg);
  }
  58% {
    -webkit-transform: translate(0.5px, 1.5px) rotate(-0.5deg);
            transform: translate(0.5px, 1.5px) rotate(-0.5deg);
  }
  60% {
    -webkit-transform: translate(-0.5px, -2.5px) rotate(-0.5deg);
            transform: translate(-0.5px, -2.5px) rotate(-0.5deg);
  }
  62% {
    -webkit-transform: translate(-2.5px, -1.5px) rotate(-0.5deg);
            transform: translate(-2.5px, -1.5px) rotate(-0.5deg);
  }
  64% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(0.5deg);
            transform: translate(-1.5px, 0.5px) rotate(0.5deg);
  }
  66% {
    -webkit-transform: translate(0.5px, -0.5px) rotate(-1.5deg);
            transform: translate(0.5px, -0.5px) rotate(-1.5deg);
  }
  68% {
    -webkit-transform: translate(-1.5px, -0.5px) rotate(-1.5deg);
            transform: translate(-1.5px, -0.5px) rotate(-1.5deg);
  }
  70% {
    -webkit-transform: translate(-0.5px, -2.5px) rotate(-1.5deg);
            transform: translate(-0.5px, -2.5px) rotate(-1.5deg);
  }
  72% {
    -webkit-transform: translate(-2.5px, -0.5px) rotate(-1.5deg);
            transform: translate(-2.5px, -0.5px) rotate(-1.5deg);
  }
  74% {
    -webkit-transform: translate(-2.5px, 0.5px) rotate(0.5deg);
            transform: translate(-2.5px, 0.5px) rotate(0.5deg);
  }
  76% {
    -webkit-transform: translate(1.5px, -1.5px) rotate(-1.5deg);
            transform: translate(1.5px, -1.5px) rotate(-1.5deg);
  }
  78% {
    -webkit-transform: translate(1.5px, -2.5px) rotate(0.5deg);
            transform: translate(1.5px, -2.5px) rotate(0.5deg);
  }
  80% {
    -webkit-transform: translate(-2.5px, -2.5px) rotate(-0.5deg);
            transform: translate(-2.5px, -2.5px) rotate(-0.5deg);
  }
  82% {
    -webkit-transform: translate(-2.5px, -1.5px) rotate(0.5deg);
            transform: translate(-2.5px, -1.5px) rotate(0.5deg);
  }
  84% {
    -webkit-transform: translate(0.5px, -2.5px) rotate(-0.5deg);
            transform: translate(0.5px, -2.5px) rotate(-0.5deg);
  }
  86% {
    -webkit-transform: translate(-2.5px, 0.5px) rotate(-0.5deg);
            transform: translate(-2.5px, 0.5px) rotate(-0.5deg);
  }
  88% {
    -webkit-transform: translate(-2.5px, -0.5px) rotate(-0.5deg);
            transform: translate(-2.5px, -0.5px) rotate(-0.5deg);
  }
  90% {
    -webkit-transform: translate(-1.5px, -1.5px) rotate(-1.5deg);
            transform: translate(-1.5px, -1.5px) rotate(-1.5deg);
  }
  92% {
    -webkit-transform: translate(-0.5px, -1.5px) rotate(-0.5deg);
            transform: translate(-0.5px, -1.5px) rotate(-0.5deg);
  }
  94% {
    -webkit-transform: translate(0.5px, -0.5px) rotate(-0.5deg);
            transform: translate(0.5px, -0.5px) rotate(-0.5deg);
  }
  96% {
    -webkit-transform: translate(-2.5px, -2.5px) rotate(0.5deg);
            transform: translate(-2.5px, -2.5px) rotate(0.5deg);
  }
  98% {
    -webkit-transform: translate(-0.5px, 1.5px) rotate(-0.5deg);
            transform: translate(-0.5px, 1.5px) rotate(-0.5deg);
  }
}
@-webkit-keyframes pulse {
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@keyframes pulse {
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@-webkit-keyframes hop {
  50% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
}
@keyframes hop {
  50% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #363636;
  font-family: Helvetica, Arial, Geneva, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
h1 {
  font-size: 2.333em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.333em;
}
h5,
h6 {
  font-size: 1.1666em;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
a,
a:visited {
  color: #245a91;
  text-decoration: none;
}
a:hover,
a:visited:hover,
a:focus,
a:visited:focus {
  color: #198d98;
}
button,
.button,
a.button,
a.button:visited,
[role="button"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #ccc;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  color: #363636;
  font-family: Helvetica, Arial, Geneva, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  height: auto;
  line-height: 1.5;
  padding: 0.25em 1em;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.35s;
  width: auto;
  word-wrap: break-word;
}
button:hover,
.button:hover,
a.button:hover,
a.button:visited:hover,
[role="button"]:hover,
button:focus,
.button:focus,
a.button:focus,
a.button:visited:focus,
[role="button"]:focus,
button.active,
.button.active,
a.button.active,
a.button:visited.active,
[role="button"].active {
  background-color: #a3a3a3;
}
button[disabled],
.button[disabled],
a.button[disabled],
a.button:visited[disabled],
[role="button"][disabled],
button[disabled="disabled"],
.button[disabled="disabled"],
a.button[disabled="disabled"],
a.button:visited[disabled="disabled"],
[role="button"][disabled="disabled"],
button[aria-disabled="true"],
.button[aria-disabled="true"],
a.button[aria-disabled="true"],
a.button:visited[aria-disabled="true"],
[role="button"][aria-disabled="true"],
button.disabled,
.button.disabled,
a.button.disabled,
a.button:visited.disabled,
[role="button"].disabled {
  background-color: #d6d6d6;
  color: #727272;
  cursor: not-allowed;
  outline: none;
}
button.busy,
.button.busy,
a.button.busy,
a.button:visited.busy,
[role="button"].busy {
  cursor: wait;
}
button.busy:after,
.button.busy:after,
a.button.busy:after,
a.button:visited.busy:after,
[role="button"].busy:after {
  border-top: 3px solid #363636;
  border-right: 3px solid #363636;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 1em;
  margin-left: 0.25em;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
  width: 1em;
  vertical-align: middle;
}
button.info,
.button.info,
a.button.info,
a.button:visited.info,
[role="button"].info {
  background-color: #309dd4;
  color: #fff;
}
button.info:hover,
.button.info:hover,
a.button.info:hover,
a.button:visited.info:hover,
[role="button"].info:hover,
button.info:focus,
.button.info:focus,
a.button.info:focus,
a.button:visited.info:focus,
[role="button"].info:focus,
button.info.active,
.button.info.active,
a.button.info.active,
a.button:visited.info.active,
[role="button"].info.active {
  background-color: #247eac;
}
button.success,
.button.success,
a.button.success,
a.button:visited.success,
[role="button"].success {
  background-color: #67b646;
  color: #fff;
}
button.success:hover,
.button.success:hover,
a.button.success:hover,
a.button:visited.success:hover,
[role="button"].success:hover,
button.success:focus,
.button.success:focus,
a.button.success:focus,
a.button:visited.success:focus,
[role="button"].success:focus,
button.success.active,
.button.success.active,
a.button.success.active,
a.button:visited.success.active,
[role="button"].success.active {
  background-color: #529238;
}
button.error,
.button.error,
a.button.error,
a.button:visited.error,
[role="button"].error {
  background-color: #b84c4c;
  color: #fff;
}
button.error:hover,
.button.error:hover,
a.button.error:hover,
a.button:visited.error:hover,
[role="button"].error:hover,
button.error:focus,
.button.error:focus,
a.button.error:focus,
a.button:visited.error:focus,
[role="button"].error:focus,
button.error.active,
.button.error.active,
a.button.error.active,
a.button:visited.error.active,
[role="button"].error.active {
  background-color: #953b3b;
}
input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  font-family: monospace;
  font-size: 1em;
  padding: 0.4em;
  max-width: 100%;
  width: 100%;
}
input:not([type="checkbox"]):not([type="radio"]):not(textarea),
textarea:not(textarea),
select:not(textarea) {
  height: 2.25em;
}
input:not([type="checkbox"]):not([type="radio"]).error,
textarea.error,
select.error {
  background-color: rgba(184,76,76,0.5);
}
.zebra-list > li:nth-child(2n) {
  background-color: #ddd;
}
table {
  width: 100%;
}
table thead,
table tbody {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
table thead tr {
  background: #ccc;
}
table tr {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  width: 100%;
}
table tr:nth-child(2n) {
  background: #ddd;
}
table td,
table th {
  -webkit-flex: 1 0 0px;
      -ms-flex: 1 0 0px;
          flex: 1 0 0px;
  padding: 0.5em;
}
.primary-container {
  margin: 0 20px;
}
@media (min-width: 1024px) {
  .primary-container {
    margin: 0 auto;
    max-width: 900px;
    width: 75vw;
  }
}
code {
  background-color: #ddd;
  display: inline-block;
  padding: 0 0.2em;
}
dl {
  border: 1px solid #333;
  border-radius: 4px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 1em;
  padding: 1em;
}
dl h1,
dl h2,
dl h3 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  text-align: center;
}
dl dt:not(:last-of-type),
dl dd:not(:last-of-type) {
  margin-bottom: 1em;
}
dl dt {
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  padding-right: 0.5vw;
  text-align: right;
}
dl dd {
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
  padding-left: 0.5vw;
}
blockquote {
  background: #ddd;
  border-radius: 4px;
  padding: 1em;
}
blockquote > p:first-of-type:before {
  content: '\201C';
}
blockquote > p:last-of-type:after {
  content: '\201D';
}
section h1,
main h1,
section h2,
main h2,
section h3,
main h3,
section h4,
main h4,
section h5,
main h5,
section h6,
main h6,
section p,
main p {
  margin-bottom: 1em;
}
.introduction:after {
  clear: both;
  content: "";
  display: table;
}
.introduction .page-header {
  text-align: center;
}
.introduction__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.introduction__row:after {
  clear: both;
  content: "";
  display: table;
}
.introduction__abstract,
.introduction .bender-video,
.introduction__features,
.introduction__explanation {
  width: 100%;
}
@media (min-width: 768px) {
  .introduction__abstract,
  .introduction .bender-video,
  .introduction__features,
  .introduction__explanation {
    float: left;
    width: 50%;
    width: calc(100% * 0.5 - 1vw + 0.5 * 1vw);
  }
  .introduction__abstract:nth-child(n),
  .introduction .bender-video:nth-child(n),
  .introduction__features:nth-child(n),
  .introduction__explanation:nth-child(n) {
    clear: none;
    margin-right: 1vw;
  }
  .introduction__abstract:last-child,
  .introduction .bender-video:last-child,
  .introduction__features:last-child,
  .introduction__explanation:last-child {
    margin-right: 0px;
  }
}
.feature-list {
  list-style: inside;
}
.grid-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 1vw;
}
.grid-container:after {
  clear: both;
  content: "";
  display: table;
}
.grid-cell-50-gutter {
  width: 100%;
  border: 1px solid #333;
  border-radius: 4px;
  line-height: 2.25em;
  padding: 1em;
}
@media (min-width: 768px) {
  .grid-cell-50-gutter {
    float: left;
    width: 50%;
    width: calc(100% * 0.5 - 1vw + 0.5 * 1vw);
  }
  .grid-cell-50-gutter:nth-child(n) {
    clear: none;
    margin-right: 1vw;
  }
  .grid-cell-50-gutter:last-child {
    margin-right: 0px;
  }
}
.grid-cell-40 {
  width: 100%;
  border: 1px solid #333;
  border-radius: 4px;
  line-height: 2.25em;
  padding: 1em;
}
@media (min-width: 768px) {
  .grid-cell-40 {
    float: left;
    width: 40%;
    width: calc(100% * 0.4 - 0px + 0.4 * 0px);
  }
  .grid-cell-40:nth-child(n) {
    clear: none;
    margin-right: 0px;
  }
  .grid-cell-40:last-child {
    margin-right: 0px;
  }
}
.grid-cell-25 {
  width: 100%;
  border: 1px solid #333;
  border-radius: 4px;
  line-height: 2.25em;
  padding: 1em;
}
@media (min-width: 768px) {
  .grid-cell-25 {
    float: left;
    width: 25%;
    width: calc(100% * 0.25 - 0px + 0.25 * 0px);
  }
  .grid-cell-25:nth-child(n) {
    clear: none;
    margin-right: 0px;
  }
  .grid-cell-25:last-child {
    margin-right: 0px;
  }
}
.grid-cell-20 {
  width: 100%;
  border: 1px solid #333;
  border-radius: 4px;
  line-height: 2.25em;
  padding: 1em;
}
@media (min-width: 768px) {
  .grid-cell-20 {
    float: left;
    width: 20%;
    width: calc(100% * 0.2 - 0px + 0.2 * 0px);
  }
  .grid-cell-20:nth-child(n) {
    clear: none;
    margin-right: 0px;
  }
  .grid-cell-20:last-child {
    margin-right: 0px;
  }
}
.grid-cell-1-7-gutter {
  width: 100%;
  border: 1px solid #333;
  border-radius: 4px;
  line-height: 2.25em;
  padding: 1em;
}
@media (min-width: 768px) {
  .grid-cell-1-7-gutter {
    float: left;
    width: 14.285714285714299%;
    width: calc(100% * 0.142857142857143 - 1vw + 0.142857142857143 * 1vw);
  }
  .grid-cell-1-7-gutter:nth-child(n) {
    clear: none;
    margin-right: 1vw;
  }
  .grid-cell-1-7-gutter:last-child {
    margin-right: 0px;
  }
}
.grid-cell-3-5-gutter {
  width: 100%;
  border: 1px solid #333;
  border-radius: 4px;
  line-height: 2.25em;
  padding: 1em;
}
@media (min-width: 768px) {
  .grid-cell-3-5-gutter {
    float: left;
    width: 60%;
    width: calc(100% * 0.6 - 1vw + 0.6 * 1vw);
  }
  .grid-cell-3-5-gutter:nth-child(n) {
    clear: none;
    margin-right: 1vw;
  }
  .grid-cell-3-5-gutter:last-child {
    margin-right: 0px;
  }
}
.grid-cell-1-5-gutter {
  width: 100%;
  border: 1px solid #333;
  border-radius: 4px;
  line-height: 2.25em;
  padding: 1em;
}
@media (min-width: 768px) {
  .grid-cell-1-5-gutter {
    float: left;
    width: 20%;
    width: calc(100% * 0.2 - 1vw + 0.2 * 1vw);
  }
  .grid-cell-1-5-gutter:nth-child(n) {
    clear: none;
    margin-right: 1vw;
  }
  .grid-cell-1-5-gutter:last-child {
    margin-right: 0px;
  }
}
.double-breakpoint-cell {
  width: 100%;
  width: 100%;
  border: 1px solid #333;
  border-radius: 4px;
  line-height: 2.25em;
  padding: 1em;
}
@media (min-width: 768px) {
  .double-breakpoint-cell {
    float: left;
    width: 50%;
    width: calc(100% * 0.5 - 1vw + 0.5 * 1vw);
  }
  .double-breakpoint-cell:nth-child(n) {
    clear: none;
    margin-right: 1vw;
  }
  .double-breakpoint-cell:nth-child(2n) {
    margin-right: 0px;
  }
  .double-breakpoint-cell:nth-child(2n+1) {
    clear: left;
  }
}
@media (min-width: 1024px) {
  .double-breakpoint-cell {
    float: left;
    width: 33.3333333333333%;
    width: calc(100% * 0.333333333333333 - 1vw + 0.333333333333333 * 1vw);
  }
  .double-breakpoint-cell:nth-child(n) {
    clear: none;
    margin-right: 1vw;
  }
  .double-breakpoint-cell:nth-child(3n) {
    margin-right: 0px;
  }
  .double-breakpoint-cell:nth-child(3n+1) {
    clear: left;
  }
}
.double-breakpoint-cell-two {
  width: 100%;
  width: 100%;
  border: 1px solid #333;
  border-radius: 4px;
  line-height: 2.25em;
  padding: 1em;
}
@media (min-width: 768px) {
  .double-breakpoint-cell-two {
    float: left;
    width: 33.3333333333333%;
    width: calc(100% * 0.333333333333333 - 1vw + 0.333333333333333 * 1vw);
  }
  .double-breakpoint-cell-two:nth-child(n) {
    clear: none;
    margin-right: 1vw;
  }
  .double-breakpoint-cell-two:nth-child(3n) {
    margin-right: 0px;
  }
  .double-breakpoint-cell-two:nth-child(3n+1) {
    clear: left;
  }
}
@media (min-width: 1024px) {
  .double-breakpoint-cell-two {
    float: left;
    width: 20%;
    width: calc(100% * 0.2 - 1vw + 0.2 * 1vw);
  }
  .double-breakpoint-cell-two:nth-child(n) {
    clear: none;
    margin-right: 1vw;
  }
  .double-breakpoint-cell-two:last-child {
    margin-right: 0px;
  }
}
.third {
  width: 100%;
}
@media (min-width: 768px) {
  .third {
    float: left;
    width: 33.3333333333333%;
    width: calc(100% * 0.333333333333333 - 1vw + 0.333333333333333 * 1vw);
  }
  .third:nth-child(n) {
    clear: none;
    margin-right: 1vw;
  }
  .third:nth-child(3n) {
    margin-right: 0px;
  }
  .third:nth-child(3n+1) {
    clear: left;
  }
}
.breakpoint-demo {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: Bisque;
  border-radius: 4px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.breakpoint-demo code {
  margin: 1em;
}
.breakpoint-demo:after {
  content: 'Below 500px';
  font-size: 24px;
  margin: 1em;
}
@media (min-width: 500px) and (max-width: 750px) {
  .breakpoint-demo {
    background-color: LightBlue;
  }
  .breakpoint-demo:after {
    content: 'Between 500px and 750px';
  }
}
@media (min-width: 750px) and (max-width: 1000px) {
  .breakpoint-demo {
    background-color: GreenYellow;
  }
  .breakpoint-demo:after {
    content: 'Between 750px and 1000px';
  }
}
@media (min-width: 1000px) {
  .breakpoint-demo {
    background-color: Pink;
  }
  .breakpoint-demo:after {
    content: 'Above 1000px';
  }
}
.rainier-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.rainier-cell,
.rainier-cell-retina {
  height: 300px;
  width: 400px;
}
.rainier-cell {
  background: url("/rainier.png") no-repeat;
  background-size: 400px 300px;
}
.rainier-cell-retina {
  background: url("/rainier.png") no-repeat;
  background-size: 400px 300px;
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .rainier-cell-retina {
    background-image: url("/rainier-2x.png");
  }
}
@media (min-resolution: 192) {
  .rainier-cell-retina {
    background-image: url("/rainier-2x.png");
  }
}
.density-code-container:after {
  clear: both;
  content: "";
  display: table;
}
.density-code-container .density-code-cell {
  width: 400px;
}
.density-code-container .density-code-cell:first-child {
  float: left;
}
.density-code-container .density-code-cell:last-child {
  float: right;
}
.animation-section .grid-container {
  margin: 100px 0px;
}
.bordered-demo-box {
  width: 100%;
  background-color: #008000;
  border-color: #f00;
  border-style: solid;
  border-width: 10px;
  color: #fff;
  height: 120px;
  line-height: 100px;
  text-align: center;
}
@media (min-width: 768px) {
  .bordered-demo-box {
    float: left;
    width: 20%;
    width: calc(100% * 0.2 - 0px + 0.2 * 0px);
  }
  .bordered-demo-box:nth-child(n) {
    clear: none;
    margin-right: 0px;
  }
  .bordered-demo-box:last-child {
    margin-right: 0px;
  }
}
