/**
 * HELPERS
 */

//Spacing
baseSpacingDistance = 10px

/**
 * GRID
 */
defaultGridGutter = 0px


/**
 * UI
 */

//Buttons
baseButtonColor = #CCC
buttonBorderColor = #DDD
extraButtonStates = (info #309dd4) (success #67b646) (error #b84c4c)
buttonSelectors = 'button, .button, a.button, a.button:visited, [role="button"]'

//Forms
fieldBorderStyle = 1px solid #CCC
errorColor = #b84c4c
fieldSelectors = 'input:not([type="checkbox"]):not([type="radio"]), textarea, select'

//Hyperlinks
linkColor = #245a91
linkHover = #198d98
linkSelectors = 'a,a:visited'

//Tables
flexboxTableSelectors = 'table'
flexboxTableHeaderRowColor = #CCC
flexboxTableZebraRowColor = #DDD

//Typography
baseFontColor = #363636
baseFontSize = 16px
baseLineHeight = 1.5
fontFamily = Helvetica, Arial, Geneva, sans-serif

//Zebra List
zebraColor = #ddd
zebraSelectors = '.zebra-list'