/**
 * RESETS
 */
resets = false

/**
 * HELPERS
 */

//Position
positionClasses = false

//Spacing
baseSpacingDistance = 10px

/**
 * GRID
 */
defaultGridGutter = 0px
noFlex = false
noCalc = false


/**
 * UI
 */

//Animations
animationRotation = false
animationShake = false
animationPulse = false
animationHop = false

//Buttons
baseButtonColor = #CCC
buttonBorderColor = #DDD
extraButtonStates = (info #309dd4) (success #67b646) (error #b84c4c)

//Forms
fieldBorderStyle = 1px solid #CCC
errorColor = #b84c4c

//Hyperlinks
linkColor = #245a91
linkHover = #198d98

//Tables
flexboxTableHeaderRowColor = #CCC
flexboxTableZebraRowColor = #DDD

//Typography
baseFontColor = #363636
baseFontSize = 16px
baseLineHeight = 1.5
fontFamily = "Open Sans", "Helvetica", "Arial", "Geneva", sans-serif