/**
 * RESETS
 */
resets = false

/**
 * HELPERS
 */

//Spacing
baseSpacingDistance = 10px

/**
 * GRID
 */
defaultGridGutter = 0px
noFlex = false
noCalc = false


/**
 * UI
 */

//Buttons
baseButtonColor = #004d00

//Forms
fieldBorderStyle = 1px solid #CCC
errorColor = #b84c4c

//Hyperlinks
baseLinkColor = #245a91
baseHoverLinkColor = #198d98

//Tables
flexboxTableHeaderRowColor = #CCC
flexboxTableZebraRowColor = #DDD

//Typography
baseFontColor = #363636
baseFontSize = 16px
baseLineHeight = 1.5
baseFontFamily = "Open Sans", "Helvetica", "Arial", "Geneva", sans-serif