resets = true
animationRotation = true
animationShake = true
animationHop = true
animationPulse = true
@import '../source/blackjack'

body
    @extend $fontStack

bodyText()
    h1,h2,h3,h4,h5,h6,p
        margin-bottom 1em
        triple-gap-right()

gutter = 1vw
breakpoint = 768px
bigBreakpoint = 1024px

.primary-container
    margin 0 20px

    +makeBreakpoint(1024px)
        margin 0 auto
        max-width 900px
        width 75vw

code
    background-color #DDD
    display inline-block
    padding 0 .2em

dl
    border 1px solid #333
    border-radius 4px
    display flex
    flex-wrap wrap
    margin-bottom 1em
    padding 1em

    h1, h2, h3
        flex-basis 100%
        text-align center

    dt, dd
        &:not(:last-of-type)
            margin-bottom 1em

    dt
        flex-basis 25%
        padding-right .5vw
        text-align right

    dd
        flex-basis 75%
        padding-left .5vw

blockquote
    background #DDD
    border-radius 4px
    padding 1em

    & > p
        &:first-of-type:before
            content '\201C'
        &:last-of-type:after
            content '\201D'

section
main
    bodyText()

//Introduction 'Welcome to Blackjack'

.introduction
    clearfix()

    .page-header
        text-align center

    &__row
        gridContainer()

    &__abstract
    .bender-video
    &__features
    &__explanation
        gridCell(.5, breakpoint, gutter)

.feature-list
    list-style inside

//Grid section
.grid-container
    gridContainer()
    margin-bottom gutter

galleryCell()
    border 1px solid #333
    border-radius 4px
    line-height 2.25em
    padding 1em

.grid-cell-50-gutter
    gridCell(.5, breakpoint, gutter)
    galleryCell()

.grid-cell-40
    gridCell(.4, breakpoint)
    galleryCell()

.grid-cell-25
    gridCell(.25, breakpoint)
    galleryCell()

.grid-cell-20
    gridCell(.2, breakpoint)
    galleryCell()

.grid-cell-1-7-gutter
    gridCell(1/7, breakpoint, gutter)
    galleryCell()

.grid-cell-3-5-gutter
    gridCell(3/5, breakpoint, gutter)
    galleryCell()

.grid-cell-1-5-gutter
    gridCell(1/5, breakpoint, gutter)
    galleryCell()

.double-breakpoint-cell
    gridCell(1/2, breakpoint, gutter, 2)
    gridCell(1/3, bigBreakpoint, gutter, 3)
    galleryCell()

.double-breakpoint-cell-two
    gridCell(1/3, breakpoint, gutter, 3)
    gridCell(1/5, bigBreakpoint, gutter)
    galleryCell()

.third
    gridCell(1/3, breakpoint, gutter, 3)

//Breakpoint Section
.breakpoint-demo
    align-items center
    background-color Bisque
    border-radius 4px
    display flex
    flex-direction column
    justify-content center

    code
        margin 1em

    &:after
        content 'Below 500px'
        font-size 24px
        margin 1em

    +makeBreakpoint(500px, 750px)
        background-color LightBlue
        &:after
            content 'Between 500px and 750px'

    +makeBreakpoint(750px, 1000px)
        background-color GreenYellow
        &:after
            content 'Between 750px and 1000px'

    +makeBreakpoint(1000px)
        background-color Pink
        &:after
            content 'Above 1000px'

//Density section
.rainier-container
    display flex
    justify-content space-between

.rainier-cell
    &
    &-retina
        height 300px
        width 400px

.rainier-cell
    background url('/rainier.png') no-repeat
    background-size 400px 300px

.rainier-cell-retina
    background url('/rainier.png') no-repeat
    background-size 400px 300px

    +densityBreakpoint()
        background-image url('/rainier-2x.png')

.density-code-container
    clearfix()

    .density-code-cell
        width 400px

        &:first-child
            float left

        &:last-child
            float right

//Animation section

.animation-section .grid-container
    margin 100px 0px
    
.shake
    shake()

.rotation
    rotation()
    
.pulse
    pulse()
    
.hop
    hop()
    
//Table section
table
    @extend $flexboxTable
    
//Lists section
.zebra-list
    zebraList( rgba(green, .25) )
    
//Forms section
input[type="text"]
select
textarea
    field()
    
.button
button
    @extend $button

.bordered-demo-box
    gridCell(ratio: 1/5, startGridAt: breakpoint)
    background-color green
    border-color red
    border-style solid
    border-width 10px
    color #FFF
    height 120px
    line-height @height - @border-width * 2
    text-align center