@import '../source/blackjack'

main
    text-align center

gutter = 1vw
breakpoint = 768px

.grid-container
    grid-container()
    margin-bottom gutter

gallery-cell()
    background-color #DDD
    border-radius 4px
    font-size 1.5em
    line-height 2.25em
    text-align center

.grid-cell-50-gutter
    grid-cell(.5, gutter, breakpoint)
    gallery-cell()

.grid-cell-40
    grid-cell(ratio: .4, startGridAt: breakpoint)
    gallery-cell()

.grid-cell-25
    grid-cell(ratio: .25, startGridAt: breakpoint)
    gallery-cell()

.grid-cell-20
    grid-cell(ratio: .2, startGridAt: breakpoint)
    gallery-cell()

.bordered-demo-box
    background-color green
    border-color red
    border-style solid
    border-width 10px
    color #FFF
    height 120px
    line-height @height - @border-width * 2
    text-align center
    width @height

.breakpoint-demo
    font-size 24px
    line-height 40px
    text-align center

    &:after
        content 'Below 500px'

    +breakpoint(500px, 1000px)
        &:after
            content 'Between 500px and 1000px'

    +breakpoint(1000px)
        &:after
            content 'Above 1000px'