/*------------------------------------*\
Image vertical-align reset

Images are set to "baseline" by default, which causes unexpected space to be added below them sometimes.
When set on "bottom" you get the behavior you would expect.
\*------------------------------------*/

if resets
    img
        vertical-align bottom