/*------------------------------------*\
 Zero reset

 Resets the default box model measurements to zero on everything

 Configurable:
 Resets

 Placeholder classes:
 $zero
\*------------------------------------*/

$zero
    border 0px
    margin 0px
    padding 0px

if resets
    *
        @extend $zero