/*------------------------------------*\
 ZERO

 Resets the default box model measurements to zero on everything

 Placeholder classes:
 $zero
\*------------------------------------*/

$zero
    border 0px
    margin 0px
    padding 0px

if resets
    *
        @extend $zero