/*------------------------------------*\
GRID
\*------------------------------------*/
defaultGutter = 0px

gridContainer()
    clearfix()
    flexbox()
    flex-wrap wrap

gridCell(ratio = 1, gutter = defaultGutter, startGridAt = null)
    width 100%

    +makeBreakpoint(startGridAt)
        float left
        w = 100% * ratio
        width w
        width s('calc(100% * %s - %s + %s * %s)', ratio, gutter, ratio, gutter)

        &:not(:last-child)
            margin-right gutter