/*------------------------------------*\
GRID

Mixins for creating grid rows.

Uses flexbox but has float fallbacks.

ratio
How much of the row each grid cell should occupy.
Accepts decimals or fractions.

gutter
Space between each cell.
Default 0px, unless configured differently.

startGridAt
An argument that accepts a breakpoint.
The grid cells will be single column until it reaches that breakpoint,
after the breakpoint the cells will form a row.

cellsPerRow
If the row is expected to wrap, the cellsPerRow value should be
the expected number of cells on each row.


Configurable variables:
defaultGridGutter
noFlex
noCalc
\*------------------------------------*/

$gridContainer
    clearfix()
    if noFlex isnt true
        display flex
        flex-wrap wrap

gridContainer()
    @extend $gridContainer

gridCell(ratio = 1, startGridAt = null, gutter = defaultGridGutter, cellsPerRow = null)
    width 100%

    +makeBreakpoint(startGridAt)
        float left
        width w = 100% * ratio
        if noCalc isnt true
            width s('calc(100% * %s - %s + %s * %s)', ratio, gutter, ratio, gutter)

        &:nth-child(n)
            clear none
            margin-right gutter

        if cellsPerRow
            &:nth-child({cellsPerRow}n)
                margin-right 0px
            &:nth-child({cellsPerRow}n+1)
                clear left
        else
            &:last-child
                margin-right 0px