/*------------------------------------*\
CLEARFIX

The classic clearfix mixin, for elements with floating children
\*------------------------------------*/

$clearfix
    &:after
        clear both
        content ""
        display table

clearfix()
    @extend $clearfix