/*------------------------------------*\
LISTS

Provides mixin and style to remove or reset the lists style

Placeholder classes:
$unstyled
\*------------------------------------*/

$unstyled
    list-style none