/*------------------------------------*\
LISTS

Provides mixin and style to remove or reset the lists style

configurable:
listClasses (default true)

.unstyled or unstyled()- removes bullets or numbers
\*------------------------------------*/

$unstyled
    list-style none

if listClasses
    .unstyled
        @extend $unstyled