/*------------------------------------*\
POSITION

Placeholder classes for adjusting positioning of elements
Read more about how the "position" property works: https://css-tricks.com/almanac/properties/p/position/

$topright
$topleft
$bottomright
$bottomleft

\*------------------------------------*/

horizontalSides = top bottom
verticalSides = left right

$absolute
    position absolute

for horizontalSide in horizontalSides
    for verticalSide in verticalSides
        ${horizontalSide}{verticalSide}
            @extend $absolute
            {horizontalSide} 0px
            {verticalSide} 0px