/*------------------------------------*\
ROTATION

Quickly rotate an element.

Goes clockwise and counter-clockwise:

$rotate90
$rotate90Ctr //Goes counter-clockwise

Use the rotate() mixin to define a custom angle.

.my-class
    rotateBy(45)
\*------------------------------------*/

rotateClassPrefix = 'rotate'

rotateValues = 90 180 270

for rotateValue in rotateValues
    ${rotateClassPrefix}{rotateValue}
        transform 'rotate(%sdeg)' % rotateValue
    ${rotateClassPrefix}{rotateValue}Ctr
        transform 'rotate(%sdeg)' % (rotateValue * -1)

rotateBy(angle)
    transform 'rotate(%sdeg)' % angle