/*------------------------------------*\
BUTTONS

Creates look and feel for buttons

Provides placeholder class:
$button

and can automatically be applied to configured selectors
with variable buttonSelectors

Additional states that can be added with classes:
.info
.success
.error
.busy //Adds a spinner
.disabled //Fades the button

You can disable a button with the attribute aria-disabled:
<div class="button" aria-disabled="true">Label</div>

Configurable variables:
baseButtonFontColor
baseButtonBorderColor
extraButtonStates
\*------------------------------------*/

$buttonReset
    appearance none
    background-color transparent
    border 0px
    cursor pointer
    font-size 1rem

button( buttonColor = baseButtonColor )
    fontStack( color: buttonColor, fontWeight: 400 )
    appearance none
    background-color #FFF
    border 2px solid buttonColor
    border-radius 4px
    cursor pointer
    display inline-block
    height auto
    padding .25em 1em
    text-align center
    text-decoration none
    transition background-color .35s
    width auto
    word-wrap break-word

    &:hover
    &:focus
    &.active
        background-color lightness(buttonColor, 93%)

    &[disabled]
    &[disabled="disabled"]
    &[aria-disabled="true"]
    &.disabled
        disabledColor = rgba(buttonColor, .5)

        background-color transparent
        border-color disabledColor
        color disabledColor
        cursor not-allowed
        outline none

    &.busy
        cursor wait

        &:after
            stroke = 3px

            border-top stroke solid buttonColor
            border-right @border-top
            border-bottom stroke solid transparent
            border-left @border-bottom
            border-radius 50%
            content " "
            display inline-block
            height 1em
            margin-left .25em
            width @height
            vertical-align middle
            rotation()

    &.primary
        background-color buttonColor
        border-color buttonColor
        color #FFF

        &:hover
        &:focus
        &.active
            background-color darken(buttonColor, 20%)