/*------------------------------------*\
BUTTONS

Creates look and feel for buttons

Provides placeholder class:
$button

and can automatically be applied to configured selectors
with variable buttonSelectors

Additional states that can be added with classes:
.info
.success
.error
.busy //Adds a spinner
.disabled //Fades the button

You can disable a button with the attribute aria-disabled:
<div class="button" aria-disabled="true">Label</div>

Configurable variables:
baseButtonFontColor
baseButtonBorderColor
extraButtonStates
\*------------------------------------*/

button()
    fontStack( color: baseButtonFontColor, fontWeight: 400 )
    appearance none
    background-color transparent
    border 2px solid baseButtonBorderColor
    border-radius 4px
    cursor pointer
    display inline-block
    height auto
    padding .25em 1em
    text-align center
    text-decoration none
    transition background-color .35s
    width auto
    word-wrap break-word

    &:hover
    &:focus
    &.active
        background-color rgba(#000, .2)

    &[disabled]
    &[disabled="disabled"]
    &[aria-disabled="true"]
    &.disabled
        background-color transparent
        color rgba(baseButtonFontColor, .5)
        cursor not-allowed
        outline none

    &.busy
        cursor wait

        &:after
            stroke = 3px

            border-top stroke solid baseButtonFontColor
            border-right @border-top
            border-bottom stroke solid transparent
            border-left @border-bottom
            border-radius 50%
            content " "
            display inline-block
            height 1em
            margin-left .25em
            width @height
            vertical-align middle
            @extend $rotation

    for state in extraButtonStates
        &.{state[0]}
            background-color state[1]
            color #FFF

            &:hover
            &:focus
            &.active
                background-color darken(state[1], 20%)