/*------------------------------------*\
BUTTONS

Creates look and feel for buttons

Provides mixin:
button()

and can automatically be applied to configured selectors
with variable buttonSelectors

Additional states that can be added with classes:
.info
.success
.error
.busy //Adds a spinner
.disabled //Fades the button

You can disable a button with the attribute aria-disabled:
<div class="button" aria-disabled="true">Label</div>

Configurable variables:
baseButtonColor
buttonBorderColor
extraButtonStates
buttonSelectors
\*------------------------------------*/

button()
    appearance none
    background-color baseButtonColor
    border 1px solid buttonBorderColor
    border-radius 4px
    cursor pointer
    display inline-block
    fontStack()
    font-weight 700
    height auto
    line-height 1.5
    padding .25em 1em
    text-align center
    text-decoration none
    transition background-color .35s
    width auto
    word-wrap break-word

    &:hover
    &:focus
    &.active
        background-color darken(baseButtonColor, 20%)

    &[disabled]
    &[disabled="disabled"]
    &[aria-disabled="true"]
    &.disabled
        background-color lighten(baseButtonColor, 20%)
        color lighten(baseFontColor, 30%)
        cursor not-allowed
        outline none

    &.busy
        cursor wait

        &:after
            stroke = 3px

            border-top stroke solid baseFontColor
            border-right @border-top
            border-bottom stroke solid transparent
            border-left @border-bottom
            border-radius 50%
            content " "
            display inline-block
            height 1em
            margin-left .25em
            width @height
            vertical-align middle
            if animationRotation
                rotation()

    for state in extraButtonStates
        &.{state[0]}
            background-color state[1]
            color #FFF

            &:hover
            &:focus
            &.active
                background-color darken(state[1], 20%)

if buttonSelectors
    {buttonSelectors}
        button()