/*------------------------------------*\
FORMS

Sets a minimum visual for text form fields,
such as input type="text", textarea, and select

Configurable variables:
fieldBorderStyle
errorColor
fieldSelectors

\*------------------------------------*/

field()
    background-color #FFF
    border fieldBorderStyle
    border-radius 4px
    display block
    font-family monospace
    font-size 1em
    padding .4em
    max-width 100%
    width 100%

    &:not(textarea)
        height 2.25em

    &.error
        background-color rgba(errorColor, 50%)

if fieldSelectors
    {fieldSelectors}
        field()

/**
 * TODO: Add Radios and Checkboxes
 */