/*------------------------------------*\
HYPERLINKS

Sets a baseline for hyperlinks/anchors

Configurable variables:
linkColor
linkHover
linkSelectors
\*------------------------------------*/

hyperlink()
    color linkColor
    text-decoration none

    &:hover
    &:focus
        color linkHover