/*------------------------------------*\
HYPERLINKS

Sets a baseline for hyperlinks/anchors

Configurable variables:
linkColor
linkHover
\*------------------------------------*/

hyperlink(baseLinkColor = linkColor, hoverLinkColor = linkHover)
    color baseLinkColor
    text-decoration none

    &:hover
    &:focus
        color hoverLinkColor