/*------------------------------------*\
HYPERLINKS

Sets a baseline for hyperlinks/anchors

Configurable variables:
linkColor
linkHover
\*------------------------------------*/

hyperlink(linkColor = baseLinkColor, hoverLinkColor = baseHoverLinkColor)
    color linkColor

    &:hover
    &:focus
        color hoverLinkColor