/*------------------------------------*\
TYPOGRAPHY

Basic typography for function and readability.

Configurable variables:
baseFontColor
baseFontSize
baseLineHeight
baseFontFamily

Mixins:
fontStack
\*------------------------------------*/

fontStack(fontColor = null, fontFamily = null, fontSize = null, lineHeight = null)
    if fontColor
        color fontColor
    else
        color baseFontColor


    font-family baseFontFamily
    font-size baseFontSize
    line-height baseLineHeight