/*------------------------------------*\
TYPOGRAPHY

Basic typography for function and readability.

Configurable variables:
baseFontColor
baseFontSize
baseLineHeight
baseFontFamily

Mixins:
fontStack
\*------------------------------------*/

fontStack(color = null, fontFamily = null, fontSize = null, lineHeight = null, fontWeight = null)
    if color
        color color
    else
        color baseFontColor

    if fontFamily
        font-family fontFamily
    else
        font-family baseFontFamily

    if fontSize
        font-size fontSize
    else
        font-size baseFontSize

    if lineHeight
        line-height lineHeight
    else
        line-height baseLineHeight

    if fontWeight
        font-weight fontWeight