/*------------------------------------*\
ZEBRA LIST

Attach class or mixin to a list to give striped rows.

Mixins
zebraList(color)
\*------------------------------------*/

zebraList(color)
    & > li:nth-child(2n)
        background-color color