/*------------------------------------*\
ZEBRA LIST

Attach class or mixin to a list to give striped rows.

Configurable variables:
zebraColor
zebraSelectors
\*------------------------------------*/

zebraList()
    & > li:nth-child(2n)
        background-color zebraColor

if zebraSelectors
    {zebraSelectors}
        zebraList()