/*------------------------------------*\
ZEBRA LIST

Attach class or mixin to a list to give striped rows.
\*------------------------------------*/
zebraColor = #ddd

zebraList()
    & > li:nth-child(2n)
        background-color #ddd

.zebra-list
    zebraList()