body .half-gap {
  margin: 5px;
}
body .half-pad {
  padding: 5px;
}
body .half-gap-top {
  margin-top: 5px;
}
body .half-pad-top {
  padding-top: 5px;
}
body .half-gap-right {
  margin-right: 5px;
}
body .half-pad-right {
  padding-right: 5px;
}
body .half-gap-bottom {
  margin-bottom: 5px;
}
body .half-pad-bottom {
  padding-bottom: 5px;
}
body .half-gap-left {
  margin-left: 5px;
}
body .half-pad-left {
  padding-left: 5px;
}
body .gap {
  margin: 10px;
}
body .pad {
  padding: 10px;
}
body .gap-top {
  margin-top: 10px;
}
body .pad-top {
  padding-top: 10px;
}
body .gap-right {
  margin-right: 10px;
}
body .pad-right {
  padding-right: 10px;
}
body .gap-bottom {
  margin-bottom: 10px;
}
body .pad-bottom {
  padding-bottom: 10px;
}
body .gap-left {
  margin-left: 10px;
}
body .pad-left {
  padding-left: 10px;
}
body .double-gap {
  margin: 20px;
}
body .double-pad {
  padding: 20px;
}
body .double-gap-top {
  margin-top: 20px;
}
body .double-pad-top {
  padding-top: 20px;
}
body .double-gap-right {
  margin-right: 20px;
}
body .double-pad-right {
  padding-right: 20px;
}
body .double-gap-bottom {
  margin-bottom: 20px;
}
body .double-pad-bottom {
  padding-bottom: 20px;
}
body .double-gap-left {
  margin-left: 20px;
}
body .double-pad-left {
  padding-left: 20px;
}
body .triple-gap {
  margin: 30px;
}
body .triple-pad {
  padding: 30px;
}
body .triple-gap-top {
  margin-top: 30px;
}
body .triple-pad-top {
  padding-top: 30px;
}
body .triple-gap-right {
  margin-right: 30px;
}
body .triple-pad-right {
  padding-right: 30px;
}
body .triple-gap-bottom {
  margin-bottom: 30px;
}
body .triple-pad-bottom {
  padding-bottom: 30px;
}
body .triple-gap-left {
  margin-left: 30px;
}
body .triple-pad-left {
  padding-left: 30px;
}
body .quad-gap {
  margin: 40px;
}
body .quad-pad {
  padding: 40px;
}
body .quad-gap-top {
  margin-top: 40px;
}
body .quad-pad-top {
  padding-top: 40px;
}
body .quad-gap-right {
  margin-right: 40px;
}
body .quad-pad-right {
  padding-right: 40px;
}
body .quad-gap-bottom {
  margin-bottom: 40px;
}
body .quad-pad-bottom {
  padding-bottom: 40px;
}
body .quad-gap-left {
  margin-left: 40px;
}
body .quad-pad-left {
  padding-left: 40px;
}
