resets = true
@import '../../source/blackjack'

.buttons
    align-items center
    align-content center
    display flex
    flex-flow column nowrap
    height 100vh
    justify-content center
    width 100vw

.default-button
    simpleButton()

.pink-button
    simpleButton(deeppink, selector() + --active, selector() + --busy)

.simple-maize-button
    simpleButton(#f8c649)

.filled-maize-button
    filledButton(#f8c649, selector() + --active, selector() + --busy)

.filled-midnight-blue-button
    filledButton(#003366, selector() + --active, selector() + --busy)

.separator
    margin-bottom 3em