* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
.default-button {
  color: #004d00;
  font-family: "Open Sans", "Helvetica", "Arial", "Geneva", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #004d00;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  height: auto;
  padding: 0.25em 1em;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.35s;
  width: auto;
  word-wrap: break-word;
}
.default-button:hover,
.default-button:focus,
.default-button.active {
  background-color: rgba(0,0,0,0.2);
}
.default-button[disabled],
.default-button[disabled="disabled"],
.default-button[aria-disabled="true"],
.default-button.disabled {
  background-color: transparent;
  border-color: rgba(0,77,0,0.5);
  color: rgba(0,77,0,0.5);
  cursor: not-allowed;
  outline: none;
}
.default-button.busy {
  cursor: wait;
}
.default-button.busy:after {
  border-top: 3px solid #004d00;
  border-right: 3px solid #004d00;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 1em;
  margin-left: 0.25em;
  width: 1em;
  vertical-align: middle;
  -webkit-animation: rotation 1s infinite linear;
          animation: rotation 1s infinite linear;
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
.default-button.primary {
  background-color: #004d00;
  border-color: #004d00;
  color: #fff;
}
.default-button.primary:hover,
.default-button.primary:focus,
.default-button.primary.active {
  background-color: #003e00;
}
.pink-button {
  color: #ff1493;
  font-family: "Open Sans", "Helvetica", "Arial", "Geneva", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #ff1493;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  height: auto;
  padding: 0.25em 1em;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.35s;
  width: auto;
  word-wrap: break-word;
}
.pink-button:hover,
.pink-button:focus,
.pink-button.active {
  background-color: rgba(0,0,0,0.2);
}
.pink-button[disabled],
.pink-button[disabled="disabled"],
.pink-button[aria-disabled="true"],
.pink-button.disabled {
  background-color: transparent;
  border-color: rgba(255,20,147,0.5);
  color: rgba(255,20,147,0.5);
  cursor: not-allowed;
  outline: none;
}
.pink-button.busy {
  cursor: wait;
}
.pink-button.busy:after {
  border-top: 3px solid #ff1493;
  border-right: 3px solid #ff1493;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 1em;
  margin-left: 0.25em;
  width: 1em;
  vertical-align: middle;
  -webkit-animation: rotation 1s infinite linear;
          animation: rotation 1s infinite linear;
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
.pink-button.primary {
  background-color: #ff1493;
  border-color: #ff1493;
  color: #fff;
}
.pink-button.primary:hover,
.pink-button.primary:focus,
.pink-button.primary.active {
  background-color: #dc0077;
}
