.default,
.another-default {
  color: #363636;
  font-family: "Open Sans", "Helvetica", "Arial", "Geneva", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
.font-color {
  color: #ff1493;
  font-family: "Open Sans", "Helvetica", "Arial", "Geneva", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
.font-family {
  color: #363636;
  font-family: 'Courier';
  font-size: 14px;
  line-height: 1.5;
}
.font-size {
  color: #363636;
  font-family: "Open Sans", "Helvetica", "Arial", "Geneva", sans-serif;
  font-size: 28px;
  line-height: 1.5;
}
.line-height {
  color: #363636;
  font-family: "Open Sans", "Helvetica", "Arial", "Geneva", sans-serif;
  font-size: 14px;
  line-height: 10em;
}
.font-weight {
  color: #363636;
  font-family: "Open Sans", "Helvetica", "Arial", "Geneva", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 900;
}
