@import '../../source/blackjack'

.default
    fontStack()

.another-default
    fontStack()

.font-color
    fontStack( color: deeppink )

.font-family
    fontStack( fontFamily: 'Courier' )

.font-size
    fontStack( fontSize: 28px )

.line-height
    fontStack( lineHeight: 10em )

.font-weight
    fontStack( fontWeight: 900 )