/**
 * RESETS
 */
resets = false

/**
 * HELPERS
 */

//Float
floatClasses = false

//Lists
listClasses = false

//Position
positionClasses = false

//Rotation
rotateClasses = false

//Spacing
spacingClasses = false
baseSpacingDistance = 10px

/**
 * GRID
 */
defaultGridGutter = 0px
noFlex = false
noCalc = false


/**
 * UI
 */

//Animations
animationRotation = false
animationShake = false
animationPulse = false
animationHop = false

//Buttons
baseButtonColor = #CCC
buttonBorderColor = #DDD
extraButtonStates = (info #309dd4) (success #67b646) (error #b84c4c)
buttonSelectors = null

//Forms
fieldBorderStyle = 1px solid #CCC
errorColor = #b84c4c
fieldSelectors = null

//Hyperlinks
linkColor = #245a91
linkHover = #198d98
linkSelectors = null

//Tables
flexboxTableSelectors = null
flexboxTableHeaderRowColor = #CCC
flexboxTableZebraRowColor = #DDD

//Typography
resetType = false //If set to falsy, Blackjack will not make any type changes
baseFontColor = #363636
baseFontSize = 16px
baseLineHeight = 1.5
fontFamily = Helvetica, Arial, Geneva, sans-serif

//Zebra List
zebraColor = #ddd
zebraSelectors = null

@import "../source/blackjack"