resets = true
@import '../../source/blackjack'

.links
    align-items center
    display flex
    font-size 40px
    height 100vh
    justify-content center
    width 100%

.link.default
    hyperlink()

.link.green
    hyperlink(green, darken(green, 50%))

.link.pink
    hyperlink(deeppink, darken(deeppink, 50%))