* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
.box.top-right,
.box.top-left,
.box.bottom-left,
.box.bottom-right {
  position: absolute;
}
.box.top-left {
  top: 0px;
  left: 0px;
}
.box.top-right {
  top: 0px;
  right: 0px;
}
.box.bottom-left {
  bottom: 0px;
  left: 0px;
}
.box.bottom-right {
  bottom: 0px;
  right: 0px;
}
.box {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #333;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  width: 100px;
}
