/**
 * RESETS
 */
unless resets is defined
    resets = false

/**
 * HELPERS
 */

//Spacing
unless baseSpacingDistance is defined
    baseSpacingDistance = 10px

/**
 * GRID
 */
unless defaultGridGutter is defined
    defaultGridGutter = 0px
unless noFlex is defined
    noFlex = false
unless noCalc is defined
    noCalc = false


/**
 * UI
 */

//Buttons
unless baseButtonColor is defined
    baseButtonColor = #004d00

//Forms
unless fieldBorderStyle is defined
    fieldBorderStyle = 1px solid #CCC
unless errorColor is defined
    errorColor = #b84c4c

//Hyperlinks
unless baseLinkColor is defined
    baseLinkColor = #245a91
unless baseHoverLinkColor is defined
    baseHoverLinkColor = #198d98

//Tables
unless flexboxTableHeaderRowColor is defined
    flexboxTableHeaderRowColor = #CCC
unless flexboxTableZebraRowColor is defined
    flexboxTableZebraRowColor = #DDD

//Typography
unless baseFontColor is defined
    baseFontColor = #363636
unless baseFontSize is defined
    baseFontSize = 14px
unless baseLineHeight is defined
    baseLineHeight = 1.5
unless baseFontFamily is defined
    baseFontFamily = "Open Sans", "Helvetica", "Arial", "Geneva", sans-serif