/**
 * RESETS
 */
unless resets is defined
    resets = false

/**
 * HELPERS
 */

//Position
unless positionClasses is defined
    positionClasses = false

//Spacing
unless baseSpacingDistance is defined
    baseSpacingDistance = 10px

/**
 * GRID
 */
unless defaultGridGutter is defined
    defaultGridGutter = 0px
unless noFlex is defined
    noFlex = false
unless noCalc is defined
    noCalc = false


/**
 * UI
 */

//Animations
unless animationRotation is defined
    animationRotation = false
unless animationShake is defined
    animationShake = false
unless animationPulse is defined
    animationPulse = false
unless animationHop is defined
    animationHop = false

//Buttons
unless baseButtonColor is defined
    baseButtonColor = #CCC
unless buttonBorderColor is defined
    buttonBorderColor = #DDD
unless extraButtonStates is defined
    extraButtonStates = (info #309dd4) (success #67b646) (error #b84c4c)

//Forms
unless fieldBorderStyle is defined
    fieldBorderStyle = 1px solid #CCC
unless errorColor is defined
    errorColor = #b84c4c

//Hyperlinks
unless linkColor is defined
    linkColor = #245a91
unless linkHover is defined
    linkHover = #198d98

//Tables
unless flexboxTableHeaderRowColor is defined
    flexboxTableHeaderRowColor = #CCC
unless flexboxTableZebraRowColor is defined
    flexboxTableZebraRowColor = #DDD

//Typography
unless baseFontColor is defined
    baseFontColor = #363636
unless baseFontSize is defined
    baseFontSize = 16px
unless baseLineHeight is defined
    baseLineHeight = 1.5
unless fontFamily is defined
    fontFamily = "Open Sans", "Helvetica", "Arial", "Geneva", sans-serif