/**
 * HELPERS
 */

//Spacing
unless baseSpacingDistance is defined
    baseSpacingDistance = 10px

/**
 * GRID
 */
unless defaultGridGutter is defined
    defaultGridGutter = 0px


/**
 * UI
 */

//Buttons
unless baseButtonColor is defined
    baseButtonColor = #CCC
unless buttonBorderColor is defined
    buttonBorderColor = #DDD
unless extraButtonStates is defined
    extraButtonStates = (info #309dd4) (success #67b646) (error #b84c4c)
unless buttonSelectors is defined
    buttonSelectors = 'button, .button, a.button, a.button:visited, [role="button"]'

//Forms
unless fieldBorderStyle is defined
    fieldBorderStyle = 1px solid #CCC
unless errorColor is defined
    errorColor = #b84c4c
unless fieldSelectors is defined
    fieldSelectors = 'input:not([type="checkbox"]):not([type="radio"]), textarea, select'

//Hyperlinks
unless linkColor is defined
    linkColor = #245a91
unless linkHover is defined
    linkHover = #198d98
unless linkSelectors is defined
    linkSelectors = 'a,a:visited'

//Tables
unless flexboxTableSelectors is defined
    flexboxTableSelectors = 'table'
unless flexboxTableHeaderRowColor
    flexboxTableHeaderRowColor = #CCC
unless flexboxTableZebraRowColor
    flexboxTableZebraRowColor = #DDD

//Typography
unless baseFontColor is defined
    baseFontColor = #363636
unless baseFontSize is defined
    baseFontSize = 16px
unless baseLineHeight is defined
    baseLineHeight = 1.5
unless fontFamily is defined
    fontFamily = Helvetica, Arial, Geneva, sans-serif

//Zebra List
unless zebraColor is defined
    zebraColor = #ddd
unless zebraSelectors is defined
    zebraSelectors = '.zebra-list'