/*------------------------------------*\
TABLES

Don't use tables. Make your component with flexbox instead.
\*------------------------------------*/
table
    width 100%

    tr
        display none

    &:after
        content "Don't use tables."
        color #ef3340
        display block
        text-align center
        width 100%