* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
.zebra-list > li:nth-child(2n) {
  background-color: #ff1493;
}
.numbered-list {
  counter-reset: li;
  list-style: none inside;
}
.numbered-list li:before {
  color: #008000;
  content: counter(li) '.';
  counter-increment: li;
  font-weight: 700;
  margin-right: 0.5em;
}
